.psm-dndflow {
  display: flex;
  height: 100vh;
  width: 100%;
}

.psm-sidebar {
  width: 300px;
  padding: 20px;
  background: #f4f4f4;
  border-right: 1px solid #ddd;
  flex-shrink: 0;
  height: 100vh;
  overflow-y: auto;
}

.psm-main-content {
  flex-grow: 1;
  padding: 20px;
  position: relative;
}

.psm-h1 {
  font-size: 2em;
  margin-bottom: 20px;
  padding-left: 0px;
}

.psm-h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  padding-bottom: 5px;
}

.psm-h4 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 8px;
  padding-bottom: 3px;
}

.psm-reactflow-wrapper {
  height: 75vh;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fafafa;
}

.psm-dndnode {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  cursor: grab;
  transition: background-color 0.3s, border-color 0.3s;
}

.psm-dndnode:hover {
  background-color: #f0f8ff;
  border-color: #00bfff;
}

.psm-dndnode.psm-energy-source {
  border-color: #00bfff; /* DeepSkyBlue */
}

.psm-dndnode.psm-energy-storage {
  border-color: #ffd700; /* Gold */
}

.psm-dndnode.psm-inverter-converter {
  border-color: #32cd32; /* LimeGreen */
}

.psm-dndnode.psm-energy-load {
  border-color: #9370db; /* MediumPurple */
}

.psm-dndnode.psm-elec-generation {
  border-color: #ff6347; /* Tomato */
}

.psm-dndnode.psm-h2-generation {
  border-color: #8a2be2; /* BlueViolet */
}

.psm-dndnode.psm-nonrenewable-elec-generation {
  border-color: #dc143c; /* Crimson */
}

.psm-dndnode.psm-nonrenewable-h2-generation {
  border-color: #4682b4; /* SteelBlue */
}

.psm-context-menu {
  position: fixed; /* Changed from absolute to fixed */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(40%, -50%);
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
  font-family: Arial, sans-serif;
  max-height: 50vh; /* Added for vertical scrolling */
  overflow-y: auto; /* Added for vertical scrolling */
}


.psm-context-menu h4 {
  margin-top: 0;
  font-size: 1.2em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.psm-context-menu label {
  display: block;
  margin: 10px 0 5px;
}

.psm-context-menu input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.psm-context-menu button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.psm-context-menu button:hover {
  background-color: #0056b3;
}

.psm-custom-node {
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  cursor: grab;
}

.psm-custom-node .node-header {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
}

.psm-custom-node ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.psm-custom-node ul li {
  text-align: left;
}

.psm-main-content {
  padding: 20px;
}

.psm-form-data {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #333;
}

.psm-form-data span {
  display: block;
  margin-bottom: 5px;
}

.psm-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.psm-button:hover {
  background-color: #0056b3;
}

.psm-button:focus {
  outline: none;
}

.psm-popup-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 1075px;
  width: 90%;
}

.psm-popup-form h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  text-align: center;
  color: #333;
}

.psm-popup-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.psm-popup-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.psm-popup-form button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.psm-popup-form button:hover {
  background-color: #0056b3;
}

.psm-popup-form button:focus {
  outline: none;
}

.psm-popup-form .psm-cancel-button {
  background-color: red;
  margin-left: 10px;
}

.psm-popup-form .psm-cancel-button:hover {
  background-color: darkred;
}

.psm-popup-form .psm-delete-button {
  background-color: #dc3545;
  margin-left: 20px;
}

.psm-popup-form .psm-delete-button:hover {
  background-color: darkred;
}

.psm-help-section {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.psm-help-text {
  font-size: 24px;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.psm-help-popup {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  width: 200px;
}

.psm-help-section:hover .psm-help-popup {
  display: block;
}

.psm-help-popup p {
  margin: 0;
  font-weight: bold;
}

.psm-help-popup ul {
  padding-left: 20px;
  margin-top: 10px;
}

.psm-help-popup li {
  margin-bottom: 5px;
}